{% load static %}

<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'hello/home.css' %}">
</head>

<body class="gradientBackground">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.file_field }}
        <!-- {{ form.as_p }} -->
        <label for="{{ form.file_field.id_for_label }}">Choose File</label>
        <button type="submit">Upload</button>
        <!-- <input type="submit" value="Submit" /> -->
    </form>
</body>

</html>